
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .left {
    max-width: 200px;
    width: 30%;
    margin-left: 50px;
    margin-top: 30px;
    
  }
.location .address{
  padding-top: 40px;
  margin-left: 10px;
}

.phone .pho{
  padding-top: 5px;
  margin-left: 10px;
}

.email .ema{
  margin-left: 10px;
}


  form{
    display: flex;
    flex-direction: column;
    padding:3rem 1rem;
    width: 90%;
    margin-right: 200px; 
    
}

.location a {
  border-radius: 50%;
  background-color: white; 
  padding: 8px; 
  margin-right: 10px;
  color:black;
}

.phone a {
  border-radius: 50%;
  background-color: white; 
  padding: 8px; 
  margin-right: 10px;
  color:black;
}

.email a{
  border-radius: 50%;
  background-color: white; 
  padding: 8px; 
  margin-right: 10px;
  color:black;

}

.information{
  padding: 10px;
}
.social {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 5px;
  
}


.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: #4FFBDF;
  margin-right: 10px; 
  text-decoration: none; 
  padding: 7px;
  transition: background-color 0.3s; 
}


.social a svg {
  color: white; 
  font-size: 20px; 
}

.social a:hover {
  background-color: white; 
}

.social a:last-child {
  margin-right: 0; 
}

  @media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .left, .form {
      max-width: 100%;
    }
  }
  
.location,
.phone,
.email {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.location > div,
.phone > h4
 {
  margin-right: 10px; 
}

.email > h4 {
  margin-left: 0px; 
}


@media screen and (max-width: 640px)  {
  .location,
  .phone,
  .email {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }
  
  .location > div,
  .phone > h4,
  .email > h4 {
    margin-left: 0; 
    margin-top: 0px; 
  }
  .left{
    margin-right: 300px; 
    
  }

  .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
    background-color: #4FFBDF;
    margin-right: 10px; 
    text-decoration: none; 
    padding: 7px;
    transition: background-color 0.3s; 
  }

  .information{
    padding: 5px;
  }

  

}

