.back-img {
  width: 100%;
  background: rgba(38, 34, 34, 0.5);
  height: 55vh;
  position: relative;
  overflow: hidden;
}

.back-img::before {
  content: "";
  background: url("https://images.pexels.com/photos/722675/pexels-photo-722675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center top;
  height: 120%;
  width: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(100%);
  transform: translate(-10%, -10%);
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  margin-bottom: 15px;
  margin-top: 35px;
  font-size: 3.0rem; 
}

.heading p {
  padding: 15px;
  font-size: 1.2rem; 
  text-align: center;
}

@media screen and (max-width: 640px) {
  .heading h1 {
    font-size: 0.8rem;
    padding-top: 45px;
  }

  .heading p {
    font-size: 0.6rem; 
  }

}
